.event {
    width: 32%;
    margin-left: 1.1%;
    float: left;
    background: white;
    height: 432px;
    overflow-x: hidden;
    position: relative;
    justify-content: space-between;
    border-radius: 5%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    /* display: flex;
    flex-direction: column; */
}

.event i {
    color: red;
    font-size: 14px;
}

.event div {
    padding: 10px;
}

.event .heading {
    padding: 10px;
    color: white;
    background: #007BFF;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0px;
    z-index: 4;
    position: sticky;
    top: 0;
    width: 100%;
}

.marquee {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
    overflow-y: scroll;
    height: 360px;
}

.marquee ul {
    list-style: none;
    padding: 0;
    margin-left:5px;
    /* margin-top: 30px; */
}

.marquee li {
    margin-bottom: 20px;
    z-index: 1;
}

.dates{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
    overflow-y: scroll;
    height: 360px;
}

.cam-news{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
    overflow-y: scroll;
    height: 360px;
}
/* Media query adjustments */
@media only screen and (max-width: 865px) {
    .event {
        width: 90%;
        margin: 5%;
        float: none;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .event .heading {
        position: sticky;
        margin-bottom: 0px;
    }
    .marquee{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 2px;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 360px;
    }
    .marquee:hover ul {
        animation-play-state:paused;
    }
    
}
